.TextItem {
  position: absolute;
  transform-origin: 0% 0%;
  font-size: 80px;
}

.TextItem-inline-block {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  /*color: transparent;*/
  white-space: pre;
}

.TextItem-inline-block span:not(.underline-example) {
  opacity: 0.2;
}

.underline-example {
  text-decoration: line-through;
  text-decoration-color: red;
  opacity: 1;
}
