.TextItem {
  position: absolute;
  transform-origin: 0% 0%;
  font-size: 80px;
}

.TextItem-inline-block {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  /*color: transparent;*/
  /*white-space: pre;*/
}
